@media(max-width:1199px){
    /* custom css  */
    h1{
        font-size:65px ;
    }

    /* navbar  */


    /* banner wrapper  */
/*
    .banner_wrapper .banner-img{
        height:auto;
        width: 78%;
        top: -31px;
    
    }
*/
    /* about  */


    /* portfolio  */


}







@media(max-width:991px){
    /* custom css  */
    h2{
        font-size:30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }

    .header_wrapper .navbar-brand img{
        max-width:67px;
    }
    
    .header-scrolled{
        height: auto;
    }

    .header_wrapper .navbar-collapse{
        margin-top: -2px;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 15px;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }
    

    /* navbar  */


    /* banner  */
    .banner_wrapper{
        padding-top:80px ;
    }
  
    /* about  */
    .about_wrapper .card{
        margin-top: 2%;
        z-index: 10;
        right:unset;
        top:unset;
    }


    /* portfolio  */


}

@media(max-width:767px){
    /* custom css  */
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    p{
        font-size: 20px;
        line-height: 24px;
    }

    
    /* navbar  */


    /* banner wrapper  */


    /* about  */


    /* portfolio  */


}

